<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Honda</mat-card-title>
      <mat-card-subtitle>Civic Type R</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../assets/imagens/civic.jpg" alt="Photo of a Civic">
    <mat-card-content>
      <p>
        Puro Prazer de Dirigir.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog()">LIKE</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Audi</mat-card-title>
      <mat-card-subtitle>A4</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../assets/imagens/audi.jpg" alt="Photo of a Audi">
    <mat-card-content>
      <p>
        Sofisticado e Estiloso
      </p>
    </mat-card-content>
    <mat-card-actions>      
      <button mat-button (click)="openDialog()">LIKE</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>BMW</mat-card-title>
      <mat-card-subtitle>M5</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../assets/imagens/bmw.jpg" alt="Photo of a BMW">
    <mat-card-content>
      <p>
        Agressiva ao Extremo.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog()">LIKE</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Wolks</mat-card-title>
      <mat-card-subtitle>Passat</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./../../../assets/imagens/passat.jpg" alt="Photo of a Passat">
    <mat-card-content>
      <p>
        Exclusividade e Performance.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="openDialog()">LIKE</button>
    </mat-card-actions>
  </mat-card>
</div>
  