<div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Land Rover</mat-card-title>
        <mat-card-subtitle>Evoque</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/imagens/evoque.jpg" alt="Photo of a Land Rover">
      <mat-card-content>
        <p>
          Luxo Para quem Deseja o Melhor.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openDialog()">LIKE</button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Mazda</mat-card-title>
        <mat-card-subtitle>SUV</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/imagens/mazda.jpg" alt="Photo of a Mazda">
      <mat-card-content>
        <p>
          Tecnologia e Inovação para a Cidade.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openDialog()">LIKE</button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Porshe</mat-card-title>
        <mat-card-subtitle>Panamera</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/imagens/panamera.jpg" alt="Photo of a Porshe">
      <mat-card-content>
        <p>
          Fora do comum.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openDialog()">LIKE</button>
      </mat-card-actions>
    </mat-card>
  </div>
    