<div class="container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Ford</mat-card-title>
        <mat-card-subtitle>Ranger</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/imagens/ranger.jpg" alt="Photo of a Ranger">
      <mat-card-content>
        <p>
          Da fazenda à cidade sem perder a força.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openDialog()">LIKE</button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Ford</mat-card-title>
        <mat-card-subtitle>Raptor</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/imagens/raptor.jpg" alt="Photo of a Raptor">
      <mat-card-content>
        <p>
          Veloz, Agressiva e Brutal
        </p>
      </mat-card-content>
      <mat-card-actions>      
        <button mat-button (click)="openDialog()">LIKE</button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Chevy</mat-card-title>
        <mat-card-subtitle>Silverado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./../../../assets/imagens/silverado.jpg" alt="Photo of a Silverado">
      <mat-card-content>
        <p>
          Gigante por Fora e Por Dentro.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openDialog()">LIKE</button>
      </mat-card-actions>
    </mat-card>
    
  </div>
    